- @title = 'Parties'

%div.imgRotorRight
  = image_tag "party01.jpg", class: "imgShow", size: '246x369'
  = image_tag "party02.jpg", class: "imgHide", size: '246x369'
  = image_tag "party03.jpg", class: "imgHide", size: '246x369'

%div.columnRight
  %h2 We can arrange the entire event.
  %p
    We are delighted to help whether it’s a small private party or a full corporate
    event.
  %p
    Ideal for themed Childrens Parties and events, from pretty Butterflies and Princesses
    to Power Rangers and Pirates.
  %p
    We supply a huge range of outstanding entertainment and catering:
  %ul
    %li Party Decorations- Balloons, Banners and Centre Pieces
    %li Party Bags and Boxes
    %li Party gifts and favours
    %li Bespoke and Novelty Cakes
    %li Face Painting
    %li Bouncy Castle Hire
    %li Printed Invitations and so much more
  %p
    Available for Children's Parties, Christenings, Weddings , Shows &amp; Fetes, Theme
    Nights, Corporate events and more.
  %p
    Covering both London &amp; Essex
  %p
    For your peace of mind our Face Painters are CBR checked.
