- @title = 'Admin'

%h2 Website Administration
%p
  Use this page to administer your website and get information
  about it's performance'
%h2 Website Performance
%p
  Click
  = link_to 'here', APP_CONFIG['ga_link']
  to view the Google Analyticts pages for this website (requires Google login).
  Use these pages to see the number of visitors and find out how they are
  finding your site.
%h2 Manage Images
%p
  Click
  = link_to 'here', gallery_images_path
  to add or remove images in the gallery. Images can be any size (they will be
  automatticly resized, however larger images will take longer to upload) and
  must be either in JPEG or PNG format.
%p
  = link_to 'Log Out', logout_url, method: :delete
