<h1>Admin#index</h1>
<% flash.each do |key, value| %>
<%= content_tag(:div, sanitize(value), :class => "flash #{key}") %>
<% end %>
<p>Find me in app/views/admin/index.html.erb</p>
<%= link_to 'Log out', logout_url, method: :delete  %>
