- @title = 'Gallery'

%h2 Image Gallery
%p
  Click the links on the left to filter by category, click the thunbnail images
  below to view the full size image.

%div#galleryIndex
  %ul
    - @tags.map{|t| t.tag_group}.uniq.sort{|a,b| a.title <=> b.title}.each do |tag_group|
      %li
        %div.tagGroup
          #{tag_group.title}
        %ul
          - tag_group.tags.sort{|a,b| a.title <=> b.title}.each do |tag|
            -if tag.gallery_images.count > 0
              %li.tagItem
                = link_to_unless_current tag.title, gallery_path(tag.id)

%div#galleryDisplay
  - @gallery_images.each do |image|
    = link_to(image_tag(image.thumbnail_path, {size: '75x75'}),
      image.image_path, class: 'lightBox')
