<h1>Butterfly Icing Gallery</h1>
<p>Below is a selection of cakes and cookies that have been individually designed for
   special occasions. Use the filter on the left hand side to only show pictures for
   a specific type.</p>

<div id="galleryIndex">
  <ul>
  <% @pics.each do |pic| %>
    <li>
  <%= link_to(image_tag(pic['image_url']), pic['link']) %>
  <%= pic['category'] %>
    </li>
  <% end %>
  </ul>
</div>



