 <h1>Butterfly Icing Gallery</h1>
 <p>Below is a selection of cakes and cookies that have been individually designed for
    special occasions. Use the filter on the left hand side to only show pictures for
    a specific type.</p>
<span id="dummy"></span><br />
<div class="filterColumn">
  <%= select_tag "filter", options_from_collection_for_select(@categories, :first, :last), :prompt => "Filter Results" %>
</div>
<div id="gallery">
  <div id="thumbs">
    <ul>
      <% @pics.sort.each do |pic| %>
        <li class="thumbnail <%= pic[1] %>">
        <%= image_tag "gallery_thumbnail#{pic[0]}" %><br />
        </li>
      <% end %>
    </ul>
  </div>
</div>
