
<div class="filterColumn">
 <%= select_tag "filter", options_from_collection_for_select(@categories, :first, :last), :prompt => "Filter Results" %>
</div>

<div class="galleryColumn">
  <% @pics.sort.each do |pic| %>
    <div class="thumbnail <%= pic[1] %>">
    <%= image_tag "gallery_thumbnail#{pic[0]}" %><br />
    </div>
  <% end %>
</div>
