<% @title = 'Weddings' %>
<div class="imgRotorRight">
    <%= image_tag "wedding01.jpg", class: "imgShow", size: '246x369' %>
    <%= image_tag "wedding02.jpg", class: "imgHide", size: '246x369' %>
    <%= image_tag "wedding03.jpg", class: "imgHide", size: '246x369' %>
</div>
<div class="columnRight">
  <h2>Wedding Cakes</h2>
  <p><strong>All prices are set to individual needs and quoted depending on size, tiers,
             cake and design, please ask for details for a free quote</strong></p>
  <p>At Butterfly Icing we specialise in individually designed Wedding cakes. Attention
     to the finest detail is paid when both discussing your requirements and producing
     your perfect cake.</p>
  <p>Whether you are looking for a modern or traditional style, we will ensure the Wedding
     cake will complete your Dream Day.</p>
  <p>Be it, a one, two, three or four tier Wedding cake, our masterpieces will form the
     centrepiece for any wedding reception to enthral and delight your guests.</p>
  <p>We provide a personal and friendly service, from one-to-one design consultations,
     right through to wedding cake delivery and set-up. All of our celebration and wedding
     cakes are made with perfection, to provide that memorable sweet delight for your
     celebration.</p>
  <p>From traditional tiered styles and pretty fairy cakes to favours such as personalised
     cookies we produce the finest.</p>
  <p>Wedding cakes and celebration cakes can be made in traditional rich fruitcake, to
     a variety sponges Vanilla, Chocolate, Carrot Cake, Other flavours are available
     at your request.</p>
</div>
