@import 'blueprint';
$menuover: #666666;
$menulink: #FFFFFF;
$pinkcolor: #D85A66;
$bluecolor: #77B3D9;
$textcolor: #222222;

*, table {
  font-family: Verdana;
  color: $textcolor;
}

p {
  font-family: Verdana;
  font-size: 1em;
}

b {
  color: $pinkcolor;
}

body {
  background-image: url('flower_pattern.jpg');
}

input, textarea, select {
    border: 1px solid #888;
    margin: 4px 0 4px 0;
    padding: 4px;
    @include border-radius(4px);
    @include box-shadow(0px, 0px, 5px, #888);
    background: -webkit-linear-gradient(bottom,  #fff,  #ddd);
    background: -moz-linear-gradient(bottom,  #fff,  #ddd);
}

#header {
  @include prepend(1);
  @include span(22);
  @include append(1);
  background: {
    image: url('header_background.png');
    repeat: no-repeat;
  }
  height: 212px;
  min-height: 212px;
  h1 {
    color: $menulink;
    top: 170px;
    left: 400px;
    position: relative;
    border: none;
  }
}

#nav {
  @include prepend(1);
  @include span(22);
  @include append(1);
  @include last;
  background: {
    image: url('nav_background.png');
    repeat: no-repeat;
  }
  font: {
    size: 16px;
    weight: bold;
  }
  height: 42px;
  min-height: 42px;
  padding: {
    top: 0px;
    left: 150px;
  }
  ul {
    margin-top: 6px;
    list-style: none;
    font-weight: bold;
    li {
      float: left;
      margin-right: 5px;
      background-repeat: no-repeat;
      padding-left: 8px;
      color: $pinkcolor;
      a {
        color: $menulink;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
          color: $menuover;
        }
      }
    }
  }
}

.menuSelected {
  color: #FF0000;
}

.section {
  @include prepend(2);
  @include span(20);
  @include append(2);
  padding-top: 1.5em;
  background-image: url('content_background.png');
  min-height: 600px;
}

#footer {
  @include span(24);
  @include last;
  text-align: center;
  background: {
    image: url('footer_background.png');
    repeat: no-repeat;
  }
  height: 60px;
  min-height: 60px;
  padding-top: 10px;
}

h1 {
  color: $pinkcolor;
  font-size: 1.5em;
  margin {
    bottom: 0.25em;
    top: 2.50em;
  }
  border-bottom: solid 1px $pinkcolor;
}

h2 {
  color: $bluecolor;
  font-size: 1.75em;
  margin-bottom: 0.25em;
  border-bottom: solid 1px $bluecolor;
}

.imgHide {
  display: none;
}

.imgShow {
  display: block;
}

.imgRotorLeft {
  /* float: left;
  height: 369px;
  display: block;
  padding: 2em;
  */
  background-color: #FFFFFF;
  margin-color: #FFFFFF;
  @include span(7);
}

.imgRotorRight {
  /* float: right;
  height: 369px;
  display: block;
  padding: 2em; */
  background-color: #FFFFFF;
  margin-color: #FFFFFF;
  @include span(7);
  @include last;
}

.columnRight {
  @include span(13);
  @include last;
}

.columnLeft {
  @include span(13);
}

label {
  width: 140px;
  display: inline-block;
  font-size: 1.1em;
}

$picturewidth: 100px;
$pictureheight: 100px;

.gallery, .gallery_images {
  #galleryDisplay {
    @include span(15);
    @include last;
    .galleryItem {
       float: left;
       width: 150px;
       border-top: solid 3px $bluecolor;
       padding-top: 3px;
       text-align: center;
       select {
         font-size: 7pt;
       }
    }
  }
  #galleryIndex {
    @include span(5);
    ul {
      list-style:none;
      padding: 0px;

    }
    .tagGroup {
      background-color: #fbc4cb;
      margin: 0px;
      padding: 8px;
      border: 0px;
    }
    .tagItem {
      padding-left: 16px;
      padding-right: 8px;
    }



    color: $pinkcolor;
    font: {
      size: 16px;
      weight: bold;
    }
    img {
      height: $pictureheight;
      width: $picturewidth;
      margin: 1em;
      border: solid 3px $pinkcolor;
    }
    div {
      background-color: $bluecolor;
      margin-top: 0px;
      float: left;
      border: {
        style: solid;
        width: 0px 0px 2px 0px;
        color: #FFFFFF;
      }
      padding-left: 0.5em;
      width: 100%;
      a {
        display: block;
        clear: both;
        color: $menulink;
        text-decoration: none;
        font: {
          size: 16px;
          weight: bold;
        }
        &:hover {
          text-decoration: underline;
          color: $menuover;
        }
      }
      div {
        float: none;
        clear: both;
        border: solid $bluecolor 1px;
        padding: 0.5em;
        text-align: center;
      }
    }
  }
}
.gallery_images {
  #galleryDisplay {
    @include span(22);
    @include last;
  }
}
.image_manager {
  .imgHolder {
    width: 80px;
    position: relative;
    float: left;
    text-align: center;
    padding: 5px;
    margin: 1px;
  }
  h2 {
    clear: both;
  }
}
